build/
dist/
docs/
__pycache__/
.ieda/
.vs/
final_build/
obfuscated/
.pyarmor/

*.spec
*.iml
*.log
*.swap

app_config.json
CHANGELOG.md
FIX_SUMMARY.md
INSTALL_KR.md
UI_IMPROVEMENTS_v1.2.md
PROJECT_SUMMARY.md

#Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal


